extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 User List
    table
        thead
          th UserName
          th Email
          th Delete?
        tbody
        td  madhu
        td mmm
        td rrr

    

  